:root {
  background: transparent;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: transparent;
}

body {
  background: transparent !important;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent !important;
}

.app canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
}
